name: Create and Deploy Neovim Image

on:
  pull:
    inputs:
      force_base:
        type: boolean
        default: false
  workflow_dispatch:
    inputs:
      force_base:
        type: boolean
        default: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      base_changed: ${{ steps.filter.outputs.base }}
    steps:
      - uses: actions/checkout@v4
      - id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            base:
              - "images/base/**"
              - "resources/packages.txt"


  build_base_image:
    needs: changes
    if : ${{ needs.changes.outputs.base_changed == 'true' || inputs.force_base }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write 
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: .
          file: images/base/Dockerfile
          push: true
          tags: |
            ghcr.io/william-barros-costa/base:${{ github.sha }}
            ghcr.io/william-barros-costa/base:latest
      
      # - name: Generate artifact attestation
      #   uses: actions/attest-build-provenance@v2
      #   with:
      #     subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
      #     subject-digest: ${{ steps.push.outputs.digest }}
      #     push-to-registry: true


  build_neovim_image:
    needs: [changes, build_base_image]
    if: always() && (needs.build_base_image.result == 'success' || needs.build_base_image.result == 'skipped')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write 
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: .
          file: images/neovim/Dockerfile
          push: true
          tags: |
            ghcr.io/william-barros-costa/neovim:${{ github.sha }}
            ghcr.io/william-barros-costa/neovim:latest
      
      # - name: Generate artifact attestation
      #   uses: actions/attest-build-provenance@v2
      #   with:
      #     subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
      #     subject-digest: ${{ steps.push.outputs.digest }}
      #     push-to-registry: true
      #
